.header {
  grid-area: h;
  background-color: darkcyan;
  border-radius: 10px;
  padding: 10px;
  user-select: none;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header img {
  height: 100%;
  /* margin-left: 20px; */
  border-radius: 7px;
}
.header .name {
  vertical-align: middle;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  padding-right: 130px;
  color: rgba(200, 200, 200, 0);
  text-shadow: rgba(250, 250, 250, 0.9) 0px 0px 2px,
    rgba(0, 0, 0, 0.2) 0.5px 0.5px 1.9px,
    rgba(210, 210, 210, 0.9) -0.5px 0.5px 0.1px,
    rgba(210, 210, 210, 0.9) 0.5px -0.5px 0.1px,
    rgba(210, 210, 210, 0.9) -0.5px -0.5px 0.1px,
    rgba(210, 210, 210, 0.9) 0.5px 0.5px 0.1px;
  letter-spacing: 4px;
  line-height: 80%;
}
