.main-wrapper{
  grid-template-areas: 
  "h h"
  "n c";
  
  display:grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  grid-area: c;
  background-color: rgb(242, 233, 243);
  border-radius: 5px;
  padding: 30px;

  color: rgb(47, 32, 5);
  font-size: 12pt;

  user-select: none;
  padding-bottom: 100px;
}
.content h1 {
  color: rgb(97, 65, 7);
  font-size: 18pt;
}




